:root{
  --primary:#121212;
  --primary10:#253525;
  --secondary:white;
  --textColor: rgba(255,255,255,0.89);
  --textColor10:rgba(255,255,255,0.6);
  --blue: #2189ee;
}
body{
  margin: 0;
  padding: 0;
  font-family: Sans-Serif;
  background: var(--primary);
  color: var(--textColor);
}
/* General styles */


/* Header styles */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Align items at the start and end */
  align-items: center; /* Center items vertically */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7vh;
  background: transparent;
  backdrop-filter:blur(14px);
  color: var(--secondary);
  padding: 0 20px; /* Add padding to the sides */
}

/* Brand styles */
.brand {
  display: flex;
  align-items: center; /* Center items vertically */
}

.logo {
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  margin-right: 10px; /* Add spacing between logo and brand name */
}

.brand-name {
  font-weight: 500;
  
  font-size: 1.7em; /* Adjust font size */
}

/* Navigation styles *
.nav-item:hover {
  text-decoration: underline; /* Add underline on hover */
}
.intro-container{
  margin-top: 10vh;
}
.intro{
  margin-top: 15vh;
}
.intro-text{
  width:75vw;
  padding: 1em;
}
.bold-heading{
  text-rendering: geometricPrecision;
  font-size: 2.5em;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: .4px;
  font-family: Sans-Serif;
  text-align: left;
  text-wrap:left;
}
.sub-text{
  color: var(--textColor10);
  padding: .2em;
  font-size: 1em;
  font-style: italic;
  font-weight: 300;
}
.images{
  width:100vw;
  height: 70vh;
  background: grey;
}
.core-values{
  margin-top: 5vh;
  padding: 1em;
  
}
.core-values .heading{
  font-style: oblique;
  font-size: 2em;
  font-weight: 500;
  border-bottom: 2px solid white;
}
.point{
  padding: 2em ;
  
}
.point h2{
  font-size: 1.4em;
  font-weight: 400;
}
.point p{
  color: var(--textColor10);
  font-weight: 350;
  word-spacing: .4px;
  font-style: italic;
  padding-left: .5em;
  padding-right: .5em;
}

.video{
  height:70vh;
  width: 100vw;
  background: grey;
}

footer{
display: flex;
  background: var(--primary10);
  color: var(--textColor);
  position: static;
  margin-bottom: 0;
  bottom: 0 ;
width:100vw;
height: 40vh;

}
footer ul {
  list-style: none;
}
footer ul li a {
  font-size: 1.3em;
  padding-top: 1em;
  font-style: italic;
  text-decoration: none;
  color: var(--blue);
}
.contact-us{
  height: 60vh;
  padding: 1em;
  margin:auto;
  
}
.contact-us p{
  padding: iem;
  font-size: 3em;
  font-style: oblique;
  font-weight:600;
  letter-spacing:.4px;
}
.btn{
  border: n9ne;
  outline: none;
  background: var(--textColor);
  border-radius: 7pt;
  padding: .7em;
  font-size: 1.4em;
  font-weight: 400;
}
.btn-dark{
  background: var(--primary);
  color:white;
  border:  1.5px solid var(--textColor10);
}
.btn-dark:hover{
  background: #fff;
  color: black;
}



